<!DOCTYPE html>

<html>
<head>
    <title>connect</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/general.css">
    <script src="/js/game.js"></script>
</head>

<body>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col text-center">
                <h1>(RE)CONNECT</h1>
                <h2 class="my-3 subtitle">Remember those late night deep talks?</h2>
            </div>
        </div>
        {{{ body }}}
    </div>
</body>
</html>