<div class="row">
    <div class="col text-center maintext end">
        <p>Thank you for playing (RE)Connect,</p>
        <p>where we bring back late night deep talks.</p>
        <h1>
            To end off, write a message for the other player and text it, mail it, or let us help you (RE)CONNECT it to them.
        </h1>
        <div class="endgame-subtitle">
            <h2>(RE)CONNECT it to them for $2:</h2>
        <h2>Send us your message and we'll send it to your partner on a (RE)CONNECT card,</h2>
        <h2>along with an invitation card that they can use to re-connect with someone else.</h2>
        </div>
        <br>
        <a href="/shop">(RE)CONNECT it to them.</a>
        <br>
        <a href="/">Back to home.</a>
    </div>
</div>