<div class="create">
    <h1>Create a connection.</h1>
    <a href="/create">Open a room.</a>
</div>
<div class="line"></div>
<div class="enter">
    <form id="form1" action="/join" method="POST">
        <h1>Enter an existing connection.</h1>
        <input type="button" id="btnJoin" class="btn btn-link p-0" value="Key in room code.">
        
    </form>
</div>
<script src="/js/enter.js"></script>