<div class="row">
    <div class="col text-center">
        <p>Room code: {{code}}</p>
    </div>
</div>
<div class="row mt-6">
    <div id="panel" class="col-8 mx-auto text-center question">
        <p>{{question}}</p>
        <span>
            {{#if shuffle}}
            <input type="button" id="btnShuffle" class="btn btn-link mr-2" value="Next Question">
            {{/if}}
            {{#if deeper}}
            <input type="button" id="btnDeeper" class="btn btn-link" value="Go Deeper">
            {{/if}}
            {{#if loading}}
                <i>Waiting for your partner to continue...</i>&nbsp;<img id="loading" src="/img/loader-60px.svg">
            {{/if}}
        </span>
        <br>
        <a href="/endgame">End game.</a>
    </div>
</div>