<div class="col text-center">
    <p class="mb-4">Room Code: <abbr title="Use this code to invite your friends!">{{code}}</abbr></p>
    <div id="panel">
        <p id="lblQuestion" class="display-4">{{question}}</p>
        <br>
        <span>
            {{#if shuffle}}
            <input type="button" id="btnShuffle" class="btn btn-link mr-2" value="Next Question">
            {{/if}}
            {{#if deeper}}
            <input type="button" id="btnDeeper" class="btn btn-link" value="Go Deeper">
            {{/if}}
        </span>
    </div>
    <a href="/">Leave Room</a>
</div>
<script type="text/javascript" src="/js/game.js"></script>