<div class="row mt-75">
    <div class="col text-center maintext">
        <p>Welcome to (RE)CONNECT,</p>
        <p>A space for people - friends or strangers,</p>
        <p>To be present without the physical presence.</p>
    </div>
</div>
<div class="row mt-6">
    <div class="col text-center">
        <a href="/instructions">Shall we begin?</a>
    </div>
</div>