<div class="col text-center">
    <p>Welcome to (RE)CONNECT,</p>
    <p>A space for people - friends or strangers,</p>
    <p>To be present without the physical presence.</p>
    <br />
    <i><a href="/enter">Shall we begin?</a></i>
</div>