<div class="row">
    <div class="col-4 text-center maintext instructiontext ml-auto my-auto mr-4">
        <b>
        <p>Before we start,</p>
        <p>hop onto a video call with your partner.</p>
        <br>
        <p>Whether it's Skype, FaceTime, or Zoom,</p>
        <p>just make sure you can both see and hear</p>
        <p>each other for the best experience.</p>
        </b>
    </div>
    <div class="col-4 ml-4 mr-auto">
        <p class="mb-2"><b>Rules</b></p>
        <ol>
            <li>Come open. Enter without expectations, but with an open heart and mind. Go as deep as you’re comfortable with going.</li>
            <li>Respect each other. Hold your tongue, hold this safe space. Hear each other out with patience.</li>
            <li>Take turns to ask each other the questions. Both players must answer each question.</li>
            <li>Each player takes turns to draw the next question. After 15 questions, you’ll be asked if you’d like to go deeper. It’s up to you - you’ll get there eventually anyways.</li>
            <li>Be honest, and have fun.</li>
        </ol>
    </div>
</div>
<div class="row mt-5 mb-4">
    <div class="col text-center">
        <a href="/enter">Time to connect.</a>
    </div>
</div>