<div class="row mt-5em">
    <div class="col text-center maintext">
        <p>Before we start,</p>
        <p>hop onto a video call with your partner.</p>
        <br>
        <p>Whether it's Skype, FaceTime, or Zoom,</p>
        <p>just make sure you can both see and hear</p>
        <p>each other for the best experience.</p>
    </div>
</div>
<div class="row mt-6">
    <div class="col text-center">
        <a href="/enter">Time to connect.</a>
    </div>
</div>