<div class="row mt-5em">
    <div class="col-5 orderform ml-auto">
        <h1 class="mb-4">Payment Instructions</h1>
        <p>Currently we only accept payment via DBS Paylah!</p>
        <br>
        <ul>
            <li>Scan the QR code on the right or click the link below the image</li>
            <li>Enter the amount you have to pay</li>
            <li>Attach your receipt number as a message before you submit</li>
            <li>Your receipt number is <i style="color: red;">"{{receiptNo}}"</i></li>
        </ul>
        <br>
        <i>Thanks for shopping with us!</i>
    </div>
    <div class="col-3 mr-auto">
        <img src="/img/qrcode_cropped.jpg">
        <p class="mt-2">Or visit this <a href="https://www.dbs.com.sg/personal/mobile/paylink/index.html?tranRef=0p3WTSeQVi" target="_blank">link</a></p>
    </div>
</div>
<div class="row mt-4">
    <div class="col text-center">
        <a href="/">Back to home</a>
    </div>
</div>