<div class="message">
    <div class="image">
        pic of card
    </div>
    <div class="details">
        <h1>(RE)CONNECT IT TO THEM.</h1>
        <h2>$2.00</h2>
        <p>Send us your message and we'll send it to your partner on a (RE)CONNECT card, along with an invitation card
            that they can use to re-connect with someone else.<br><br>
            Includes:<br>
            x1 Customised (RE)CONNECT card<br>
            x1 (RE)CONNECT invitation card
        </p>
        <textarea name="cardMsg" placeholder="Your message." rows="4" cols="75"></textarea>
        <br>
        <s><a href="#">Buy now - $2.00</a></s><p>Not available</p>
    </div>
</div>