@charset "UTF-8";

/* CSS Document */
body {
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 1.25em;
}

h2 {
	font-size: 0.6em;
	font-weight: bold;
}

.subtitle{
	text-transform: uppercase;
}

a {
	color: black;
	text-decoration: underline;
}

.btn .btn-link {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: lightslategrey;
	margin-left: 50px;
	margin-right: 50px;
}

.btn .btn-link:hover {
	color: #E6B900;
}

/* default layout */
.headerlink-inline>a {
	font-size: 0.75em;
	margin-left: 2.5em;
	margin-right: 2.5em;
}

/* index page */
.mt-6 {
	padding-top: 6em;
}

.mt-75 {
	margin-top: 7.5em;
}

.maintext>p {
	margin-top: 0;
	margin-bottom: 0;
}

/* instructions */
.mt-5em {
	padding-top: 5em;
}

/* enter */
.line {
	border-left: 4px solid grey;
	height: 160px;
	position: fixed;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.create a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	color: #E6B900;
}

.create a:hover {
	color: grey;
}

.enter input[type=button] {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	color: #E6B900;
	text-decoration: underline;
}

.enter input[type=button]:hover {
	color: grey;
}

.enter input[type=text] {
	border: none;
	background-color: none;
	outline: 0;
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	color: grey;
}

.enter input[type=text]:focus {
	color: black;
	opacity: 100%;
}

.create {
	width: 20%;
	position: fixed;
	top: 50%;
	left: 34%;
	transform: translate(-50%, -50%);
	text-align: left;
}

.create h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 30px;
}

.enter {
	width: 30%;
	position: fixed;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
	text-align: left;
}

.enter h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 30px;
}

/* game */
.mt-675{
	margin-top: 6.75em;
}

.question p {
	font-weight: 700;
	font-size: 2em;
	margin-bottom: 4em;
}

.question input[type=button],a {
	color: black;
	font-size: 15px;
	text-decoration: underline;
}

.question input[type=button]:hover,a:hover {
	color: #E6B900;
}

/* endgame */
.end h1 {
	font-size: 1.25em;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin: 2em auto 1em;
	background-color: #FFD600;
	width: 45%;
	padding: 1.5em 1.5em;
}

.end .endgame-subtitle {
	font-size: 0.8em;
	margin-bottom: 1.5em;
	font-weight: 500;
}

.end a{
	font-size: 0.75em;
}

.end a:hover{
	color: #E6B900;
}

/* shop */
.message {
	width: 80%;
	margin: 3em auto 0;
}

.image {
	width: 17.5em;
	height: 20em;
	background-color: antiquewhite;
	float: left;
	margin-left: 3em;
}

.details {
	width: 50%;
	float: left;
	text-align: left;
	margin-left: 4em;
}

.details h1 {
	font-size: 1.5em;
}

.details h2 {
	color: grey;
	font-size: 1.5em;
	margin-bottom: 1.5em;
}

.details p {
	font-size: 0.7em;
}

.details textarea {
	background-color: #DDDDDD;
	font-weight: 500;
	font-size: 0.5em;
	margin: 1.5em 0;
	resize: none;
}

.details a {
	font-weight: 700;
	font-size: 0.75em;
	text-transform: uppercase;
	color: #E6B900;
}

.details a:hover {
	color: grey;
}